.one{
    background-color: blue;
    height: 100px;
    width: 100px;
    position:absolute;
    Top: 100px;
    left: 200px;
    z-index: 3;
}
.two{background-color:orange;
    height: 100px;
    width: 100px;
    position:absolute;
    Top: 150px;
    left: 250px;
    z-index: 2;
}
.three{background-color: green;
    height: 100px;
    width: 100px;
    position:absolute;
    Top: 200px;
    left: 300px;
}